<form class="d-flex" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Busqueda">
  <button type="button" class="btn btn-primary btn-dark btn-outline-success" id="liveToastBtnBar" (click)="search()">
    <i class="fas fa-search"></i>
  </button>
</form>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToastBar" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Registro</strong>
      <small>ISIS</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-black-50">
      TO-DO
    </div>
  </div>
</div>
