<div class="restaurant-detail bg-light text-dark rounded h-100 d-flex flex-column">
  <div class="row">
    <div class="col-md-6 justify-content-center h-100">
      <div class="culture-image d-flex justify-content-center aspect-ratio ratio-4x3">
        <img [src]="restaurant.imagen" alt='' class="custom_img" (error)="this.restaurant.imagen = 'https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg'">
      </div>
      <h2 class="text-center">{{ restaurant.name }}</h2>
    </div>
    <div class="col-md-6 h-100">
      <ul class="nav nav-underline justify-content-end mx-2">
        <li class="nav-item">
          <a [queryParams]="{ id: restaurant.id }" [routerLink]="['/restaurant']" class="nav-link"
             routerLinkActive="active">Restaurante</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restaurant', restaurant.id, 'michelinStars', 'all']" class="nav-link"
             routerLinkActive="active">Estrellas Michellin</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restaurant', restaurant.id, 'recipe', 'all']" class="nav-link"
             routerLinkActive="active">Recetas</a>
        </li>
      </ul>
      <div class="tab-content h-100">
        <div class="tab-pane fade" routerLinkActive="show active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/restaurant'" [queryParams]="{ id: restaurant.id }">
          <div class="mt-4 slider text-wrap">
            <p class="mb-0"> Ubicado en {{ restaurant.city }}</p>
          </div>
          <div class="slider text-wrap">
            <p class="mb-0">Correo {{ restaurant.contact }}</p>
            <form>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 col-form-label w-100 fw-bolder">Direccion E-mail</label>
                <input type="email" class="form-control w-90" id="inputEmail" aria-describedby="emailHelp" placeholder="Direccion E-mail">
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-2 col-form-label w-100 fw-bolder">Nombre Completo</label>
                <input type="text" class="form-control w-90" id="inputName" placeholder="Nombre Completo">
              </div>
              <div class="text-center mt-2 me-5">
              <button type="submit" class="btn btn-primary btn-dark" id="liveToastBtn" (click)="showToast()">Reserva</button>
              </div>
            </form>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <strong class="me-auto">Registro</strong>
                  <small>Justo ahora</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  Reserva realizada con éxito
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content h-100">
          <div class="tab-pane fade" routerLinkActive="show active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/restaurant'" [queryParams]="{ id: restaurant.id }">

          </div>
        <div class="tab-pane fade" routerLinkActive="show active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/restaurant/' + restaurant.id + '/recipe/all'">
          <div class="mt-4">
            <ul class="recipe-list">
              <li *ngFor="let recipe of restaurant.recipes">
                <a [href]="'/recipes?id=' + recipe.id">{{ recipe.name }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-pane fade" routerLinkActive="show active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/restaurant/' + restaurant.id + '/michelinStars/all'">
          <div class="mt-4">
            <p>Estrella conseguida en la fecha: </p>
            <ul class="recipe-list">
              <li *ngFor="let michelinStar of restaurant.stars">
                {{ michelinStar.acquired }}
              </li>
            </ul>
        </div>
        </div>
            <ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
